# Node modules
node_modules/

# Environment variables
.env

# Build folders
dist/
build/

# Logs
npm-debug.log*

# Vite files
.vite/

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Firebase files
firebase-debug.log